.carousel{
    width: 100%;
    margin-top: 10px;
    
}
.carousel-item{

    height: 100vh;
}

.imgCarrusel{
   /*height: 100%;*/
   object-fit:cover;
   
}

/*para el navegador el ul*/



/*seccion del mapa*/

.mapa{
    width: 90%;
    height: 150px;
  
}