$color-principal: #000;
$color-card: rgb(255, 255, 255);
$titulos-principales: center;
$fuente-secundaria: Titillium Web;

$parrafo:(
    color: rgb(255, 255, 255),
    tamaño: 2rem,
    fuente: Titillium Web,
    texto: justify,
    fondo: #ffbb003b,
    grosor: 300,
);