@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

*{
    
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Titillium Web', sans-serif;
   
}
.colorFondo{
    background-color: #935cf8;
    border:0.5px solid #1f0256;
}
.colorFondoFluid{
    background-color: #5c76f8;
    border:0.5px solid #020d56;
   
}

.fondoCabecera{
    background-color: rgb(0, 0, 0);
    
}
.centrarNav{
    text-align: center;
}

.alto{
    height: 50vh;
}

.imgGaleria{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.marginPropio{
    margin-bottom: 20px;
    margin-top:100px !important;
}
.TitulosPrincipales{
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    /*background: linear-gradient(rgb(107, 107, 107),rgb(255, 255, 255));
    -webkit-background-clip: text;
    color: transparent;*/
    text-align: center;
    text-decoration: underline;
    font-size: 5rem;
    
}

.SubTitulo1{
    text-decoration:underline;
    padding-top: 20px;
    margin-bottom: 20px;
    color: rgb(247, 246, 246);
    text-align: center;
    
    font-family: Titillium Web;

}
.SubTitulo2{
    padding-top: 20px;
    margin-bottom: 20px;
    color: rgb(24, 24, 24);
    text-align: center;
    font-size: 3.5rem;
    font-family: Titillium Web;
    background-color: #ffffff6b;
    

}
.parrafo{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: Titillium Web ;
    text-align: justify;
    background-color: #ffbb003b;
    font-weight: 300px;
    
}

.parrafoImg{
    background-color: #ff990052;
    color: #ffffff;
    font-size: 5rem;
    font-family:Titillium Web ;
}
.imgNosotros{
    width: 80%;
}
.titLabels{
    color: #fff;
}

.contenidoPrincipal {
    /*la imagen es provisional*/
    /*background-image: url("../assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    margin: 2vh auto;
    padding: 2% 2%;*/
    text-align: center;
     }
  
    #video-fondo{
     
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
      background-size:cover;
      background-repeat: no-repeat; 
      background-position: center;
      
    
    }

.card-group{
    width: 80%;
    margin: 20px auto;
    padding-top: 10px;
    text-align: center;
    background-color: antiquewhite;
}

.thumbnail { 
    position: relative; 
   } 
   .caption { 
    position: absolute; 
    top: 45%; 
    left: 0; 
    width: 100%; 
   }
.card{
    align-items: center;
    margin: 10px;
    
    
}

.card2{
    align-items: center;
    margin: 10px;
    background-color: #ffffff6c;
}

.card-img-top{
    width:80%;
    object-fit: cover;
    
}

.carousel{
    width: 100%;
    margin-top: 100px;
}
.carousel-item{

    height: 80vh;
}

.imgCarrusel{
   /*height: 100%;*/
   object-fit: contain;
}

/*para el navegador el ul*/
.flexible{
    width: 100%;
    background-color: rgba(255, 192, 203, 0);
    justify-content: center;
   
}


/*seccion del mapa*/

.mapa{
    width: 90%;
    height: 150px;
  
}
.link{
    box-sizing: border-box;
    color: #fff!important;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
    transition: border-bottom 0.3s ease;
}
.link:hover{
    box-sizing: border-box;
    color: #000!important;
    background-color: #ebdfb9;
    text-decoration:underline;
}

.p{
    color: white;
    margin: 5px;
}

.pieDePagina{
        background-color: black;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        text-align: center;
}
.border-animation {
  
  background-color: transparent;
  animation: border-pulse 2s infinite;
  
  
}

@keyframes border-pulse {
  0% {
    background-color:#000000;
  }
  50% {
    background-color: rgb(0, 255, 34);
  }
  100% {
    background-color: #4e4e4e;
  }
}






@media screen and (min-width: 0px) and (max-width:992px) {
    .card-group {
        display: flex;
        flex-flow: column wrap;
    }
}




@media screen and (max-width: 768px) {
   
    .alto{
        height: initial;
    }
    .carousel-item{
        height: 50vh;
    }
    .flexible{
       width: initial;
       justify-content: flex-start;
    }
}